.delegates-category {
  width: 100%;
}

.category-delegate {
  float: right;
  position: absolute;
  right: 15%;
}

.delegates-category-row {
  padding-left: 0;
}

.register-delegate {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  max-width: 300px;
  margin-bottom: 15px;
}
