*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.DS_Store
build/
.idea/
.vscode/
.sass-cache/
.versions/
coverage/
dist/
node_modules/
www/lib/
tmp/
temp/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

.package.tmp.json

src/themes/version.scss
scripts/e2e/webpackpollPoints.json
scripts/build/e2e-generated-tsconfig.json
*.css.ts

# demo stuff
demos/node_modules
demos/polyfills
demos/css
demos/fonts
demos/src/**/*.js*
demos/src/**/*.ngfactory.ts
demos/src/**/*.d.ts
demos/src/**/*.metadata.json
demos/src/**/*.css.shim.ts


plugins/
*.keystore
*.sw*
platforms/^.*
.idea
