<ion-view class="category-polls-view">
  <ion-nav-title>
    <span>{{ poll.title }}</span>
  </ion-nav-title>
  <ion-content>

    <div class="poll">
      <div class="list card poll-item">
        <div class="poll-heading item item-text-wrap">
          <h2 class="poll-title" ng-bind-html="poll.title | rawHtml"></h2>
          <p class="poll-date">
            <b>Poll open until: </b> <span>{{ poll.closeTime | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}</span>
          </p>
          <p class="poll-date">
            <b>Closing for delegates: </b> <span>{{ poll.closeDelegateTime | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}</span>
          </p>
        </div>
        <div class="poll-content item item-text-wrap">
          <p class="poll-excerpt">{{ poll.question }}</p>
            <form class="poll-actions" name="form" ng-submit="vote(choice)" novalidate="">
              <div ng-repeat="option in poll.options" class="item item-icon-right">
                <ion-radio ng-model="$parent.choice" ng-value="option.ballot" required>{{ option.answer }} ({{option.result}})</ion-radio>
              </div>
              <div ng-if="!hasVoted">
                <div class="vote col col-center" dynamic-anchor-fix>
                  <input type="submit" class="button button-positive button-small button-block button-assertive" value="Vote"/>
                </div>
              </div>
              <div ng-if="hasVoted" id="hasVoted">
                <h3 style="margin-top: 10px">You have already voted with option "{{ votedOption }}"</h3>
              <div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
